# Core dependencies
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.25
virtualenv==20.26.2

# Testing
pytest==8.0.2
pycparser==2.22
PySocks==1.7.1

# CORS handling (for frontend/backend communication)
Flask-Cors==4.0.0

# Optional but recommended for development
python-dotenv==1.0.0  # For environment variables
